{% extends 'base.html' %} 
{%load bootstrap3%}
{% load static %}
{%load staticfiles%}
{% block content %}
{{ block.super }}

<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="photo">
      <div>
          <h3>The awards of design, creativity and innovation on the internet!</h3>
          <!-- <p class="rate" style="border-radius:50%;border:1px solid white">80%</p> -->
        </div>
        </div>
        
<div class="container"> 
    {% for pics in pic_posts%}  
    <div class="col-sm-4 col-md-4">  
        <h1>{{pics.pic_name}}</h1>  
        <!-- Trigger the modal with a button -->
        <a href=""><img src="{{pics.pic.url}}" alt="{{pics.pic_link}}" data-toggle="modal" data-target="#myModal"></a>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">{{pics.pic_name}}</h1>  
              </div>
              <div class="modal-body">
                <p>{{pics.pic_caption}}</p>
                <div>{{pics.pub_date | timesince}} </div>
                <div> <a href="{{pics.pic_link}}">{{pics.pic_link}}</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            </div>
          </div>
        </div>  
   
    <!-- <div class="container" style="margin: 50px"> -->
    
    
{%endfor%}
</div> 
</body> 
</html>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/awards.js'%}"></script>
{% endblock %}
