{% extends 'base.html' %} 
{%load bootstrap3%}
{% load static %}
{%load staticfiles%}
{% block content %}
{{ block.super }}

<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="photo">
      <div>
          <h3>The awards of design, creativity and innovation on the internet!</h3>
      </div>
        
    </div>
<div class="container">   
    {% for pic in pic_posts%}
    <!-- <div class="container" style="margin: 50px"> -->
    <div class="col-sm-6 col-md-6">    
    <img src="{{pic.pic.url}}" alt="{{pic.pic_link}}">
     <div><h3>{{pic.pic_caption}}</h3></div>  
     <div> <a href="{{pic.pic_link}}">{{pic.pic_link}}</a>
    </div>
     <br>
    <div> {{pic.pub_date | timesince}} </div>
    </div> 
    
{%endfor%}
</div> 
</body>
</html>

{% endblock %}
