.photo{
    margin-top: 0px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://0.s3.envato.com/files/146369766/preview_image_gsa2.jpg");
    background-repeat: no-repeat;background-size: cover;
}
h3{
    padding-top: 200px;
    color:white;
    text-align: center;
    font-family: 'Cookie', cursive;
    padding-bottom: 200px;
    font-size: 50px;

}
h1{
    font-family: 'Cookie', cursive; 
}
img{
    width: 350px;
    height: 230px;
}